.colorFire {
background-color: firebrick;
color: firebrick;
padding: 50px 50px 50px 50px;
}
.colorAlmond {
  background-color: blanchedalmond;
  color: blanchedalmond;
  padding: 50px 5px 50px 50px;
}
.colorFuchsia {
  background-color: fuchsia;
  color: fuchsia;
  padding: 50px 50px 50px 50px;
}
.colorKhaki {
  background-color: khaki;
  color: khaki;
  padding: 50px 55px 50px 50px;
}
